body{
    background-color: #3d354b;
    color: blanchedalmond;
    font-family: cursive;
}

.title{
    text-align: center;
}

button{
    font-size: large;
    background-color: blanchedalmond;
    font-family: cursive;
    border-radius: 20px;
    
}

.img{ 
    margin-left: auto;
    margin-right: auto;
    display: block;
    border:black;
    border-radius: 40px;
}

button:hover{
    background-color:rgb(231, 215, 123);
}

.button1{
    position: relative; left: 300px; top: -200px;
}

.button2{
    position: relative; right: -1280px; top: -225px;
}

.button3{
    text-align: center;
}

